#formOne {
  margin-top: 30px;
}
.result {
  margin-top: 20px;
 border-style: groove;
 font-weight: bold;
 color: white;
}
.red{
  color: red;
}
.green {
  color: green;
}
h1 {
  color: red;
  font-size: 40px;
  text-align: center;
}

body {
  background-image: url('./newspaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#score {
  color: white;
  font-weight: bold;
}
#random {
  margin-top: 20px;
}
